@use '../1-settings/colors' as colors;

body {
  color: colors.$body-color;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-size: 1.6rem;
  position: relative;
}

section {
  padding: 200px 0;
  // margin: 50px auto;
  // height: 60vh;
  // min-height: 60vh;
}

#container {
  // display: grid;
  // grid-template-rows: 1fr auto;
  // grid-template-columns: 100%;
}

#main {
  // display: grid;
  // grid-template-rows: 1fr auto;
  // grid-template-columns: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  // padding: 200px 150px;

  & .cta-intro {
    border: solid 2px yellow;

    .cta-content {
      background-color: aqua;

      & p:nth-of-type(2) {
        font-size: 6.2em;
        margin: 20px 0px;
      }
    }

    .cta-avatar {
      background-color: chartreuse;

      img {
        width: 250px;
        object-fit: cover;
      }
    }
  }
}

.social {
  position: fixed;
  width: 200px;
  max-width: 200px;
  bottom: 10px;
  left: 0;
}

.contact-email {
  background: red;
  position: fixed;
  min-width: 180px;
  bottom: 50px;
  right: 0;
  transform: rotate(90deg);
}

.about {
  border: solid 2px orange;
  padding: 50px;

  p span.hello {
    font-size: 30px;
  }

  .profile-img {
    // max-width: 250px;

    img {
      width: 100%;
    }
  }
}


@media(min-width:320px) {

  section {
    padding: 100px 0px;
  }

  .cta-avatar {
    display: flex;
    justify-content: center;
  }

  .about {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

@media(min-width:768px) {
  .cta-intro {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .about {
    .about-intro {
      flex-basis: 60%;
    }
  }
}